{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "rules": {
    "comma-dangle": 0,
    "max-len": ["error", 120],
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0
  }
}
